<select name="category" id="id_category">
    <option value="" selected>---------</option>
    <option value="Marketplace">Marketplace</option>
    <option value="Location">Location</option>
    <option value="Services">Services</option>
    <option value="Echange">Echange</option>
    <option value="Object gratuits">Object gratuits</option>
</select>

<select name="sub_category" id="id_sub_category">
    <option value="" selected>---------</option>
    <option value="Véhicules">Véhicules</option>
    <option value="Vélos">Vélos</option>
    <option value="Trotinette éléctrique">Trotinette éléctrique</option>
    <option value="Immobilier">Immobilier</option>
    <option value="Loisirs">Loisirs</option>
    <option value="Jeu et jouets">Jeu et jouets</option>
    <option value="Jeux vidéos et consoles">Jeux vidéos et consoles</option>
    <option value="Collection">Collection</option>
    <option value="Alimentation">Alimentation</option>
    <option value="Mode">Mode</option>
    <option value="Périculture">Périculture</option>
    <option value="Multimédia High tech">Multimédia High tech</option>
    <option value="Maison et jardin">Maison et jardin</option>
    <option value="Matériel professionnel">Matériel professionnel</option>
    <option value="Divers">Divers</option>
    <option value="Autres">Autres</option>
</select>