{%extends 'main.html'%}
{%block head%}

{%endblock%}
{%block content%}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">REST PASSWORD DONE</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <h6>Password rest done !</h6>
                <p>Your password has been set . You may go ahead and Log In now .</p>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    <a href="{% url 'login' %}" class="ml-2">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}