{%extends 'main.html'%}
{%block head%}
	<style>
		.form-control{
			max-width:500px;
		}
	</style>
{%endblock%}
{%block body%}
<div class="container">
	<div class="row">
		<article class="col-xs-12 maincontent">
			<br>
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

				<h3 class=" text-center  txt1">Connectez-vous </h3>
						<h5 class=" text-center">pour decouvrir minimal-iste.com </h5>
						<br><br>
				<div class="panel panel-default">
					<div class="panel-body">

						<form action="" method="POST">
							{%csrf_token%}
							<div>
								{{form.email}}
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-12 text-left">
									<button class="btn custom1 custom" type="submit">Send Mail</button>
								</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-12 ">
										<a href="{%url 'login'%}">Vous n’avez pas de compte ?</a><br>
										<b><a href="{%url 'sign-up'%}">S'inscrire</a></b>
									</div>
								</div>
						</form>
					</div>
				</div>

			</div>
		</article>
		<!-- /Article -->
	</div>
</div>	<!-- /container -->
<script>
	var inputs = document.getElementsByTagName('input')
	for (i=0 ; i<inputs.length ;i++){
		inputs[i].classList.add('form-control')
		inputs[i].placeholder='Email'
	}
</script>
{%endblock%}