<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sign in</title>

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">


	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
	

	<!-- container -->
	<div class="container">


		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

					<h3 class="thin text-center txt1">Bienvenue !  </h3>	<br>
					<div class="panel panel-default">
	
						<div class="panel-body">
								
							
							<form>
								<b class="form-check-label">
									S’inscrire en tant que
								</b><br><br>
								<div class="form-check">

								
									<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
									<label class="form-check-label" for="exampleRadios1">
										Professionnel 

									</label>
								  </div>
								  <div class="form-check">
									<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
									<label class="form-check-label" for="exampleRadios2">
										Particulier 
									</label>
								  </div>
							
							<br> 
							<br>
								<div class="row">
									<div class="col-lg-12 text-left">
										<button class="btn custom1 custom" type="submit">S'INSCRIRE</button>
									</div>
									</div>
                                    <br>
									<div class="row">
									
										<div class="col-lg-12 ">
											<a >Vous n’avez pas de compte ?</a><br>
											<b><a href="">S'inscrire</a></b>
										</div>
									</div>

									</form>
							
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->


	<!-- Js libs-->

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>